<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-responsive.css"/>
	
	<link rel="stylesheet" type="text/css" href="../static/generalStyle.css"/>
	<title>Web Sync - File List</title>
</head>
<body>
	{% include 'navbar.html' %}
		<div class="span9">
			<h2>Sync message sent</h2>
			<br></br>
     		<a href="/files" class="btn btn-primary btn-lg">File list</a>
		</div>
	<script src="../static/bootstrap/js/bootstrap.js"></script>	
</body>
</html>
