<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-responsive.css"/>

        <link rel="stylesheet" type="text/css" href="../static/generalStyle.css"/>
        <title>Web Sync - Instance List</title>
</head>
<body>
        {% include 'navbar.html' %}
                <div class="span10">
                        <h2>Instances</h2>
                        <table class="table table-striped table-bordered table-condensed">
                        <thead>
                          <tr>
                            <th>Instance ID</th>
                            <th>IP</th>
                            <th>Number of active nodes</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                                {% for instance in instance_list %}
                                        <tr>
                                                <td>{{ instance.id }}</a></td>
                                                <td>{{ instance.ip }}</td>
                                                <td>{{ instance.nr }}</td>
                                                <td><a href="/instances/{{ instance.id }}" class="btn btn-default btn-xs">Manage</a></td>
                                        </tr>
                                {% endfor %}
                        </tbody>
                      </table>
                <a href="/instances/add" class="btn btn-primary btn-lg">Add New Instance</a>
                </div>
        <script src="../static/bootstrap/js/bootstrap.js"></script>
</body>
</html>



