<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-responsive.css"/>

	<link rel="stylesheet" type="text/css" href="../static/generalStyle.css"/>
	<title>Web Sync - Instance information</title>
</head>
<body>
	{% include 'navbar.html' %}
		<div class="span3">
			<h2>Instance Info</h2>
			<table class="table table-striped table-bordered table-condensed">
				<tr>
					<td>Instance ID</td>
					<td>{{ instance.id }}</td>
				</tr>
				<tr>
					<td>Instance IP</td>
					<td>{{ instance.ip }}</td>
				</tr>
			</table>
			<a href="/instances/{{ instance.id }}/{{ instance.ip }}/delete" class="btn btn-danger btn-lg">Delete</a>
			<a href="/instances" class="btn btn-default btn-lg">Back</a>
		</div>
	<script src="../static/bootstrap/js/bootstrap.js"></script>	
</body>
</html>
