<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-responsive.css"/>
	
	<link rel="stylesheet" type="text/css" href="../static/generalStyle.css"/>
	<title>Web Sync - Node List</title>
</head>
<body>
	{% include 'navbar.html' %}
		<div class="span10">
			<h2>Nodes</h2>
			<table class="table table-striped table-bordered table-condensed">
		        <thead>
		          <tr>
		            <th>Node ID</th>
		            <th>Synchronized</th>
		            <th>Number of cats loyal to node</th>
		            <th></th>
		          </tr>
		        </thead>
		        <tbody>
		        	{% for node in node_list %}
		        		<tr>
		        			<td>{{ node.id }}</a></td>
		        			<td>{{ node.synced }}</td>
		        			<td>{{ node.cats }}</td>
		        		</tr>
		        	{% endfor %}
		        </tbody>
		      </table>
	    	<a href="/nodes/add" class="btn btn-primary btn-lg">Add Node</a>
		</div>
	<script src="../static/bootstrap/js/bootstrap.js"></script>	
</body>
</html>
